body{
    text-align: center;
}


#container{
    height: 200px;
    width: 700px;
    display: flex;
    
    /* flex-direction: column; */
    justify-content: center;
    /* align-content: center;
    align-content: flex-start; */

    
}
div{
    height: 50px;
    width: 150px;
    border: 2px solid black;
    display: inline-block;
}
#div1{
    background-color: lightblue;
}
#div2{
    background-color: lightcoral;
    /* align-self: flex-end; */
    flex-grow: 2;
         
}
#div3{
    background-color: lightgreen
}
#div4{
    background-color: lightslategray;
   
}