body{
    background-color: #333;
    padding: 8% 0% 0% 1%;
    display: inline-block;
}
.gallery{
    display: flex;
    width: 30%;
    height: 250px;
    gap: 5px;
    
    
}

.gallery > img {
    width: 15%;
    height: 250px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border: 2px solid white;
    border-radius: 9px;
    transition: ease-in 0.5s;
    scale: 1/1;
}


.gallery > img:hover{
    width: 100%;
} 
h1{
    color: white;
    background-color:red;
    text-align: center;
}