.content{
    height: 100px;
    width: 100px;
    color: #000000;   
    border: 2px solid black;
  
    display: inline-block;
    margin-top: 100px;
    margin-left: 100px;
    
}

*{
    padding: 0px;
    margin: 0;
    
   
    
}

/* #div{
    background-color: #333;
    height: 30px;
    padding-top: 10px;
    padding-bottom: 0px;
    border: 2px solid white;
} */

button{
    background-color: yellowgreen;
    
}

#font{
    font-weight: bold;
    color: yellow;
    background-color: #333;
    font-size: 20px;
}
a{
    background-color: #333;
    margin-right: 200px;
    text-decoration-line: none; 
    color: white;  
}

#bg{
    background-color: #333;
    height: 40px;
    padding-top: 20px;
    
}
#amazon{
    font-weight: bolder;
    color: rgb(162, 162, 46);
}
#cntnt{
    height: 650px;
    background-color: lightgreen;
}
footer{
    text-align: center;
    text-decoration: underline solid brown;
    font-weight: bolder;
    background-color: #333;
    color: white;
    height: 50px;
}

